
<span class="gradient-text">
    <slot />
</span>

<style>
    .gradient-text {
      font-weight: bold;
      color: transparent;
      background-clip: text;
      text-fill-color: transparent;
      -webkit-text-stroke: 1px #1869FF;
    }
</style>