@import "tailwindcss";

:root {
  --navbar-height: 80px;
}

/* stylelint-disable-next-line */
@theme {
  --animate-appear-right: appearRight 0.5s ease-in-out forwards;
  @keyframes appearRight {
    0% {
      transform: translateX(100%);
      opacity: 0;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
    }
  }
}
