---
import "bootstrap/dist/css/bootstrap.min.css";
import "bootstrap-icons/font/bootstrap-icons.css";
import Header from "@components/Header.astro";
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body data-bs-theme="dark">
		<div class="background"></div>

		<div class="grid"></div>

		<Header />
		<slot />
	</body>
</html>

<style is:global>
/******************************SCROLLBAR**************************************** */
	::-webkit-scrollbar{
		width: 8px;
	}

	::-webkit-scrollbar-button{
		display: block;
		height: 0px;
		border-radius: 0px;
		background-color: #313741;
	}

	::-webkit-scrollbar-thumb{
		background-color: #2c2c2c;
		border-radius: 5px;
	}

	::-webkit-scrollbar-track{
		background-color: #181717;
	}
/******************************END-SCROLLBAR**************************************** */

	[data-bs-theme="dark"] {
		--bs-body-bg: #171717;
	}

	body {
		margin: 0;
		padding: 0;
		overflow-x: hidden;
	}

	.background {
		position: fixed; /* Fijo para que siempre cubra la pantalla, sin afectar al flujo del contenido */
		top: 0;
		left: 0;
		height: 100vh;
		width: 100vw;
		background-image: radial-gradient(
			ellipse 80% 80% at 50% -20%,
			rgba(130, 123, 233, 0.3),
			rgba(255, 255, 255, 0)
		);
		z-index: -10;
	}

	.grid {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 300vw;
		height: 300vh;
		background-color: rgba(15, 15, 15, 0.815);
		background-image: linear-gradient(
				to right,
				rgba(255, 255, 255, 0.05) 1px,
				transparent 1px
			),
			linear-gradient(
				to bottom,
				rgba(255, 255, 255, 0.05) 1px,
				transparent 1px
			);
		background-size: 70px 70px;
		transform: translate(-50%, -50%) rotateX(65deg) rotateZ(30deg)
			rotateY(-5deg) scale(1.5);
		transform-origin: center center;
		z-index: -11;
	}		
</style>


<script>
	import 'bootstrap';
	import { Tooltip } from 'bootstrap';
    
    var tooltipTriggerList = [].slice.call(
        document.querySelectorAll('[data-bs-toggle="tooltip"]'),
    );
    tooltipTriggerList.map(function (tooltipTriggerEl) {
        return new Tooltip(tooltipTriggerEl);
    });
</script>